[submodule "tools/sharpmake"]
	path = tools/sharpmake
	url = https://github.com/ubisoftinc/Sharpmake.git
[submodule "external/jolt"]
	path = external/jolt
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd.git
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/PortAudio/portaudio.git
